body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    width: 115pxpx;
    height: 24pxpx;
    margin-top: 24px;
    margin-left: 156px;
    gap: 0px;
}

span {
    color: #2e2f42;
}

address {
    font-style: normal;
}

.contacts {
    letter-spacing: 0.02em;
    color: #2e2f42;
    height: 24px;
    margin-top: 24px;
    margin-left: 940px;
    gap: 0px;
    opacity: 0px;
}

.contacts:focus {
    color: #404bbf;
}

a {
    width: 153px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

a:hover {
    color: rgba(64, 75, 191, 1);
}

.adr {
    letter-spacing: 0.02em;
    color: #434455;
}

.adr:focus {
    color: #404bbf;
}

.h-one {

    line-height: 1.07;
}

.name-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-two-view-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;


}

h1 {
    line-height: 1.07;
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em
}



.section-one {

    background-color: rgba(46, 47, 66, 1);
}

.name-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-two-view {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.section-three {
    background-color: #F4F4FD;

}




button {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    color: white;
    align-content: center;
    cursor: pointer
}

button:focus {
    background-color: #404BBF;
}

button:hover {
    border-radius: 8px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05) inset;
}

footer {
    background-color: rgba(46, 47, 66, 1);
}